/* TODO: parameterize the number of rows/columns */
.board_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.cell {
  border: 1px solid black;
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
}

.cell:disabled {
  opacity: 1;
  color: #000;
}



.cell_error {
  background-color: #ff0000;
}

.cell:disabled .cell_error {
  background-color: #ff0000;
  color: #fff;
}

/* TODO:
  - Pretty it all up
  - Make it work on different screen sizes
   */
